@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,300;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    
    font-family: 'Genos', sans-serif;
    background: linear-gradient(137deg, #110F11 30%, #311149,#261960);
    min-height: 100vh;
    color: white;
    
}

header {
    font-size: clamp(20px, 5vw, 40px);
    text-align: center;
    margin: auto;
}

main {
    min-width: 350px;
    width: 50%;
    margin: auto;

}

#info_filme {
    display: none;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#menu {
    margin: auto;
    text-align: center;
}

#botão {
    flex-direction: row;
    align-items: center;
    font-size: clamp(3px, 4vw, 20px);
    font-weight: bold;
    background-color: rgb(63, 60, 73);
    margin: 10px;
    color: white;
    border-radius: 5px;
    border-color: transparent;
    padding: 2.2% 1.2%;
    width: 40%;
}

#botão:hover {
    background: rgb(8, 7, 8);
    border-style: solid;
    border-color: rgb(173, 4, 173);
}

#imagem_filme {
    min-width: 250px;
    width: 100%;
    max-width: 279px;
}

#title {
    font-size: clamp(18px, 5vw, 30px);
    align-items: center;
}

#description {
    font-size: clamp(12px, 5vw, 20px);
}

#menu > p {
    font-size: clamp(15px, 5vw, 25px);
}

footer {
    margin-top: 3%;
    display: block;
    text-align: center;
    font-size: clamp(13px, 4vw, 18px);
}

footer > p {
    display: inline-block;
    border-top: #110F11;
    border-top-style: solid;
    border-color: #00000065;
    border-width: 0.5px;
}

@media (max-width: 900px) {

    body {
        min-height: 100vh;
    }

    #info_filme {
        flex-direction: column;
        text-align: center
    }

    #imagem_filme {
        min-width: 200px;
        width: 100%;
        max-width: 230px;
    }

    #botão {
        width: 45%;
        padding: 2.7% 1.2%;
    }

}
